$orange: #fc7507;

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3) !important;
}

.bg-orange{
  background-color: $orange;
  color: white;
}

.btn-round-lg {
  border-radius: 22.5px;
}
  .btn-round {
    border-radius: 17px;
    margin: 10px 10px;
    color: white;
  }
  .btn-round-sm {
    border-radius: 15px;
  }
  .btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .btn-background-color{
      font-weight: 700;
      padding: 5px 15px; 
      background-color: $orange;
      &:hover{
        background-color: #ef7d20;
      }
  }
  
  body{
      background-color: #ff7200de;
  }

.texto{
  color: white;
  font-weight: bold;
  size: 12px;   
}

.text-position-bottom{
  position: absolute;
  bottom: 0;
}

.table .thead-orange th {
  color: #fff;
  background-color: $orange;
  border-color: $orange;
}

@media(min-width: 501px){
  .table-responsive{
    display: inline-table ;
  }
}


@media(max-width: 500px){
    
  .table-responsive {
    width: 100%;
    display: block !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}